@import url("https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
.App {
  font-family: "Gloock", serif;
}

/* Start Navbar Styling */

.navbar {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  font-family: "Mr De Haviland", cursive;
  font-size: 1.2rem;
  color: rgb(158, 33, 102);
  background-color: #f9d0e4ff;
  padding: 1rem 2rem;
}
.navbar h1 {
  grid-column: 2/3;
  margin: auto;
}
.navbarRight {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.navbar button,
.submit {
  padding: 0.5rem;
  background-color: rgb(158, 33, 102);
  color: white;
  font-family: "Gloock", serif;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-radius: 2rem;
  border-color: rgb(158, 33, 102);
  cursor: pointer;
}

.navbar button:hover {
  background-color: white;
  color: rgb(158, 33, 102);
}

.cartCount {
  font-family: "Gloock", serif;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  padding: 0 0.5rem;
  font-size: 1rem;
  top: 3rem;
  right: 1.2rem;
}

/* End Navabr Styling */

/* Start Hero Section Styling */

.HeroContainer {
  height: 90vh;
  background-image: url("https://res.cloudinary.com/dup0sa10r/image/upload/v1681308765/mamamacaroni/macarons_d6ohqt.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeroTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  padding: 8rem;
  color: rgb(244, 136, 157);
  width: 38%;
  text-shadow: -5px 5px #8a6c8825;
  font-size: 1.3rem;
  line-height: 3rem;
  letter-spacing: 0.2rem;
}

.HeroTextContainer h2 {
  padding-bottom: 2rem;
}

.HeroTextContainer button {
  padding: 1rem;
  color: #f390a4ff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(251, 238, 238);
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-color: rgba(236, 202, 79, 0.652);
  font-family: "Gloock", serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.HeroTextContainer button:hover {
  background-color: #f390a4ff;
  color: rgb(251, 238, 238);
}

/* End Hero Section Styling */

/* Start Authentication Styling */

.authentication {
  display: flex;
}

.authenticationImage {
  width: 50%;
  overflow: hidden;
}

.authenticationImage img {
  max-width: 100%;
  height: auto;
  display: block;
}

.authenticationInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: 3rem;
  width: 30%;
}

.email,
.password,
.name {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.email input,
.password input,
.name input {
  height: 2rem;
  border-radius: 3%;
  border-color: rgb(158, 33, 102);
  border-width: 0.2rem;
}

.buttonAndRedirect {
  margin-top: 1rem;
}

.submit {
  width: 100%;
  padding: 0.8rem 0;
}

.signUp {
  color: rgb(158, 33, 102);
  margin-left: 0.3rem;
}

/* End Authentication Styling */
